@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
body {
  font-family: "PT Sans", sans-serif; }

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none; }

.main_container {
  margin: auto;
  max-width: 1280px;
  padding: 0 40px; }

/*header*/
header nav {
  display: flex;
  justify-content: space-between; }
  header nav .nav_link {
    display: flex;
    margin-top: 19px;
    margin-bottom: 20px; }
    header nav .nav_link li {
      margin-right: 33px; }
      header nav .nav_link li:last-of-type {
        margin-right: 0; }
      header nav .nav_link li a {
        font-weight: 700;
        font-size: 20px;
        line-height: 26px;
        color: #000000; }
  header nav .nav_icon {
    display: flex; }
    header nav .nav_icon .search {
      margin-right: 21px;
      margin-top: 24px; }
      header nav .nav_icon .search a {
        display: inline-block; }
    header nav .nav_icon .heart {
      margin-right: 33px;
      margin-top: 24px; }
      header nav .nav_icon .heart a {
        display: inline-block; }
    header nav .nav_icon .btn {
      display: inline-block;
      margin-top: 14px;
      margin-bottom: 14px;
      padding: 9px 30px 10px;
      width: 100%;
      max-width: 160px;
      font-weight: 700;
      font-size: 16px;
      line-height: 21px;
      text-transform: uppercase;
      background-color: #756257;
      color: #FFFFFF;
      border-radius: 4px; }

/*section Main_banner*/
.main_banner {
  background-image: url("../images/background1.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  padding-top: 51px;
  padding-bottom: 82px; }
  .main_banner .main_container img {
    display: block;
    margin: auto; }

.sedona_town {
  padding-top: 63px;
  padding-bottom: 79px; }
  .sedona_town h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 23px; }
  .sedona_town p {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center; }

/*section Reasons*/
.reasons .main_container {
  display: flex;
  flex-wrap: wrap; }
  .reasons .main_container .card {
    padding: 98px 90px 77px;
    width: 400px;
    height: 384px;
    text-align: center; }
    .reasons .main_container .card h3 {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 25px; }
    .reasons .main_container .card span {
      display: inline-block;
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 26px;
      color: #FFFFFF;
      font-weight: 400; }
    .reasons .main_container .card p {
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: #FFFFFF; }
  .reasons .main_container .town_bridge {
    background-color: #83B3D3; }
  .reasons .main_container .facilities {
    width: 400px;
    height: 384px;
    text-align: center; }
    .reasons .main_container .facilities img {
      display: inline-block;
      margin-bottom: 23px; }
    .reasons .main_container .facilities h4 {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 20px; }
    .reasons .main_container .facilities p {
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: #333333; }
  .reasons .main_container .housing {
    background-color: rgba(131, 179, 211, 0.12);
    padding: 89px 75px 79px; }
  .reasons .main_container .food {
    background-color: #FFFFFF;
    padding: 91px 75px 79px; }
  .reasons .main_container .souvenirs {
    background-color: rgba(131, 179, 211, 0.12);
    padding: 85px 75px 79px; }
  .reasons .main_container .square, .reasons .main_container .road, .reasons .main_container .tourists {
    padding: 98px 75px 77px; }
    .reasons .main_container .square h3, .reasons .main_container .square span, .reasons .main_container .square p, .reasons .main_container .road h3, .reasons .main_container .road span, .reasons .main_container .road p, .reasons .main_container .tourists h3, .reasons .main_container .tourists span, .reasons .main_container .tourists p {
      color: #000000; }
  .reasons .main_container .square, .reasons .main_container .tourists {
    background: rgba(131, 179, 211, 0.12); }
  .reasons .main_container .road {
    background: rgba(131, 179, 211, 0.2); }

.town_bridge_pic {
  height: 384px; }

#town {
  display: block;
  width: 100%; }

#bridge {
  display: block;
  width: 100%; }

/*section Hotel_search*/
.hotel_search {
  padding-top: 91px;
  padding-bottom: 91px; }
  .hotel_search .main_container {
    text-align: center; }
    .hotel_search .main_container h2 {
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 15px; }
    .hotel_search .main_container p {
      font-weight: 400;
      font-size: 22px;
      line-height: 26px;
      color: #333333;
      margin-bottom: 73px; }
    .hotel_search .main_container a {
      display: inline-block;
      max-width: 575px;
      width: 100%;
      padding-top: 13px;
      padding-bottom: 17px;
      background-color: #756257;
      color: #FFFFFF;
      font-weight: bold;
      font-size: 20px;
      line-height: 36px;
      text-align: center;
      text-transform: uppercase;
      border-radius: 10px; }

/*# sourceMappingURL=style.css.map */
