@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

$main_font: 'PT Sans', sans-serif;

*{
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
.main_container{
  margin: auto;
  max-width: 1100px;
  padding: 0 30px;
}


header{
  nav{
    display: flex;
    justify-content: space-between;
    .nav_link{
      display: flex;
      margin-top: 19px;
      margin-bottom: 20px;
      li{
        margin-right: 33px;
        &:last-of-type{
          margin-right: 0;
        }
        a{
          font-weight: 700;
          font-size: 20px;
          line-height: 26px;
          color: #000000;
          font-family: $main_font;
        }
      }
    }
    .nav_icon{
      display: flex;
      .search{
        margin-right: 21px;
        margin-top: 24px;
        a{
          display: inline-block;
        }
      }
      .heart{
        margin-right: 33px;
        margin-top: 24px;
        a{
          display: inline-block;
        }
      }
      .btn{
        display: inline-block;
        margin-top: 14px;
        margin-bottom: 14px;
        padding: 9px 30px 10px;
        width: 100%;
        max-width: 160px;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        text-transform: uppercase;
        background-color: #756257;
        color: #FFFFFF;
        border-radius: 4px;
        font-family: $main_font;
      }
    }
  }
}

.main_banner{
  background-image: url("../images/background1.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  padding-top: 51px;
  padding-bottom: 82px;
  .main_container{
    img{
      display: block;
      margin: auto;
    }
  }
}

.sedona_town{
  padding-top: 63px;
  padding-bottom: 79px;
  h1{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    font-family: $main_font;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 23px;
  }
  p{
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    font-family: $main_font;
    text-align: center;
  }
}