@import url('https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap');

$white_font: #FFFFFF;
$black_font: #000000;

@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}

html{
  height: 100%;
}
body{
  font-family: "PT Sans", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%;
}
*{
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none;
}
.main_container{
  margin: auto;
  max-width: 1280px;
  padding: 0 40px;
}

section{
  flex: 1 0 auto;
}
/*header*/

header{
  flex: 0 0 auto;
  nav{
    display: flex;
    justify-content: space-between;
    .nav_link{
      display: flex;
      margin-top: 19px;
      margin-bottom: 20px;
      li{
        margin-right: 33px;
        &:last-of-type{
          margin-right: 0;
        }
        a{
          font-weight: 700;
          font-size: 20px;
          line-height: 26px;
          color: #000000;
        }
      }
    }
    .nav_icon{
      display: flex;
      .search{
        margin-right: 21px;
        margin-top: 24px;
        a{
          display: inline-block;
        }
      }
      .heart{
        margin-right: 33px;
        margin-top: 24px;
        a{
          display: inline-block;
        }
      }
      .btn{
        display: inline-block;
        margin-top: 14px;
        margin-bottom: 14px;
        padding: 9px 30px 10px;
        width: 100%;
        max-width: 160px;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        text-transform: uppercase;
        background-color: #756257;
        color: $white_font;
        border-radius: 4px;
      }
    }
  }
}


/*section Main_banner*/

.main_banner{
  background-image: url("../images/background1.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  padding-top: 51px;
  padding-bottom: 82px;
  .main_container{
    img{
      display: block;
      margin: auto;
    }
  }
}

.sedona_town{
  padding-top: 63px;
  padding-bottom: 79px;
  h1{
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 23px;
  }
  p{
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center;
  }
}


/*section Reasons*/

.reasons{
  .main_container{
    display: flex;
    flex-wrap: wrap;
    .card{
      padding: 98px 90px 77px;
      width: 400px;
      height: 384px;
      text-align: center;
      h3{
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: $white_font;
        margin-bottom: 25px;
      }
      span {
        display: inline-block;
        font-size: 18px;
        line-height: 21px;
        margin-bottom: 26px;
        color: $white_font;
        font-weight: 400;
      }
      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: $white_font;
      }
    }
    .town_bridge{
      background-color: #83B3D3;
    }
    .facilities {
      width: 400px;
      height: 384px;
      text-align: center;
      img {
        display: inline-block;
        margin-bottom: 23px;
      }
      h4 {
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        text-transform: uppercase;
        color: $black_font;
        margin-bottom: 20px;
      }
      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #333333;
      }
    }
    .housing{
      background-color: rgba(131, 179, 211, 0.12);
      padding: 89px 75px 79px;
    }
    .food{
      background-color: $white_font;
      padding: 91px 75px 79px;
    }
    .souvenirs{
      background-color: rgba(131, 179, 211, 0.12);
      padding: 85px 75px 79px;
    }
    .square, .road, .tourists{
      padding: 98px 75px 77px;
      h3, span, p{
        color: $black_font;
      }
    }
    .square, .tourists{
      background: rgba(131, 179, 211, 0.12);
    }
    .road{
      background: rgba(131, 179, 211, 0.2);
    }
  }
}

.town_bridge_pic {
  height: 384px;
}

#town {
  display: block;
  width: 100%;
}
#bridge {
  display: block;
  width: 100%;
}



/*section Hotel_search*/

.hotel_search{
  padding-top: 91px;
  padding-bottom: 91px;
  .main_container{
    text-align: center;
    h2{
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      text-transform: uppercase;
      color: $black_font;
      margin-bottom: 15px;
    }
    p{
      font-weight: 400;
      font-size: 22px;
      line-height: 26px;
      color: #333333;
      margin-bottom: 73px;
    }
    a{
      display: inline-block;
      max-width: 575px;
      width: 100%;
      padding-top: 13px;
      padding-bottom: 17px;
      background-color: #756257;
      color: $white_font;
      font-weight: bold;
      font-size: 20px;
      line-height: 36px;
      text-align: center;
      text-transform: uppercase;
      border-radius: 10px;
    }
  }
}



/*section Newsletter*/

.newsletter{
  background-image: url("../images/background2.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  padding-top: 94px;
  padding-bottom: 94px;
  .main_container{
    text-align: center;
    h2{
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      text-transform: uppercase;
      color: $white_font;
      margin-bottom: 15px;
    }
    p{
      font-weight: 400;
      font-size: 22px;
      line-height: 26px;
      color: $white_font;
      margin-bottom: 26px;
    }
  }
  form{
    display: flex;
    justify-content: center;
    #email{
      width: 500px;
      padding: 15px 70px 15px 25px;
      font-size: 18px;
      line-height: 26px;
      text-align: left;
      opacity: 60%;
      border: none;
      background: #F2F2F2;
      border-radius: 10px 0 0 10px;
    }
    .btn{
      max-width: 200px;
      width: 100%;
      background-color: #83B3D3;
      color: $white_font;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 26px;
      font-weight: 700;
      text-align: center;
      border: none;
      border-radius: 0 10px 10px 0;
      padding: 15px 30px;
      font-family: "PT Sans", sans-serif;
    }
  }
}


/*section Hotels_Sedona*/

.hotels_sedona{
  background-image: url("../images/catalog-background.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 83px;
  h2{
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: $white_font;
    margin-bottom: 5px;
  }
}

.breadcrumb{
  .breadcrumb_item{
    display: inline-block;
    .breadcrumb_link {
      font-weight: 400;
      font-size: 16px;
      line-height: 21px;
      color: $white_font;
    }
    .breadcrumb_link_home{
      &:before{
        content: url("../images/home_nav.svg");
      }
    }
    &:first-of-type{
      &:after{
        content: url("../images/nav-link.svg");
        margin: 0 10px;
      }
    }
  }
}


.filter_form{
  display: flex;
  //justify-content: space-between;
  margin-top: 45px;
  h3{
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: $white_font;
    margin-bottom: 30px;
  }
  .infrastructure{
    margin-right: 67px;
  }
  .housing_filter{
    margin-right: 167px;
  }
  .price{
    margin-right: 81px;
    flex-grow: 1;
  }
  .infrastructure_check{
    margin-bottom: 13px;
    .infrastructure_label{
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
      color: $white_font;
      .infrastructure_input{
        margin-right: 19px;
      }
    }
  }
  .housing_radio {
    margin-bottom: 13px;
    .housing_label {
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
      color: $white_font;
      .housing_input {
        margin-right: 19px;
      }
    }
  }
}



.btn_price{
  padding-top: 60px;
  .btn_submit{
    background: #83B3D3;
    border-radius: 4px;
    display: inline-block;
    width: 100%;
    max-width: 160px;
    text-align: center;
    color: $white_font;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    padding: 13px 19px;
    box-sizing: border-box;
    border: none;
    font-family: "PT Sans", sans-serif;
    &:hover{
      cursor: pointer;
    }
  }
  .btn_reset{
    margin-top: 20px;
    background: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: $white_font;
    border: none;
    box-sizing: border-box;
    padding: 0 19px;
    font-family: "PT Sans", sans-serif;
    &:hover{
      cursor: pointer;
    }
  }
}


.infrastructure_input{
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.infrastructure_text{
  display: inline-flex;
  align-items: center;
  position: relative;
}
.infrastructure_text{
  &:before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid $white_font;
    border-radius: 4px;
    margin-right: 19px;
    background-color: $white_font;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  &:after{
    content: url("../images/tick.svg");
    position: absolute;
    bottom: 1px;
    left: 5px;
    opacity: 0;
  }
  &:hover{
    cursor: pointer;
  }
}

.infrastructure_input:checked + .infrastructure_text:after{
  opacity: 1;
}

.housing_input{
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.housing_text{
  display: inline-flex;
  align-items: center;
  position: relative;
}
.housing_text{
  &:before{
    content: '';
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid $white_font;
    border-radius: 50%;
    margin-right: 19px;
    background-color: $white_font;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
  }
  &:after{
    content: url("../images/radio.svg");
    position: absolute;
    bottom: 1px;
    left: 6px;
    opacity: 0;
  }
  &:hover{
    cursor: pointer;
  }
}

.housing_input:checked + .housing_text:after{
  opacity: 1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.filter_price{
  display: flex;
  margin-bottom: 20px;
  .price_label {
    display: flex;
    justify-content: space-between;
    max-width: 143px;
    width: 100%;
    padding: 13px 17px 11px 19px;
    border: 2px solid #FFFFFF;
    span{
      color: #FFFFFF;
      opacity: 0.3;
    }
  }
  .label_min{
    border-radius: 4px 0 0 4px;
    border-right: none;
  }
  .label_max{
    border-radius: 0 4px 4px 0;
  }
  .price_input {
    background-color: transparent;
    border: none;
    color: #FFFFFF;

    &:focus{
      outline: none;
    }
    &::placeholder{
      color: #FFFFFF;
    }
  }
}

.filter_price_slider{
  max-width: 284px;
}

.noUi-horizontal .noUi-handle-upper{
  right: 0;
}

.noUi-target{
  background-color: #FFFFFF;
  border: none;
  box-shadow: none;
  height: 4px;
}

.noUi-connect{
  background-color: #83B3D3;

}
.noUi-horizontal .noUi-handle {
  height: 20px;
  width: 20px;
  box-shadow: none;
  border-radius: 5px;
  top: -8px;
}
.noUi-handle{
  &:after{
    display: none;
  }
  &:before{
    display: none;
  }
}



/*section Search_result*/

.search_result{
  padding-top: 44px;
  padding-bottom: 40px;
  .main_container{
    display: flex;
    justify-content: space-between;
    h3{
      font-weight: 700;
      font-size: 30px;
      line-height: 39px;
      text-transform: uppercase;
      color: $black_font;
    }
  }
}

.sort{
  padding: 12px 100px 13px 19px;
}



/*section Newsletter_hotels*/

.newsletter_hotels{
  padding-top: 89px;
  padding-bottom: 138px;
  .main_container{
    text-align: center;
    h2{
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      text-transform: uppercase;
      color: $black_font;
      margin-bottom: 15px;
    }
    p{
      font-weight: 400;
      font-size: 22px;
      line-height: 26px;
      color: $black_font;
      margin-bottom: 26px;
    }
  }
  form{
    display: flex;
    justify-content: center;
    #email_2{
      width: 500px;
      padding: 15px 70px 15px 25px;
      font-size: 18px;
      line-height: 26px;
      text-align: left;
      opacity: 60%;
      border: none;
      background: #F2F2F2;
      border-radius: 10px 0 0 10px;
    }
    .btn{
      max-width: 200px;
      width: 100%;
      background-color: #83B3D3;
      color: $white_font;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 26px;
      font-weight: 700;
      text-align: center;
      border: none;
      border-radius: 0 10px 10px 0;
      padding: 15px 30px;
      font-family: "PT Sans", sans-serif;
      &:hover{
        cursor: pointer;
      }
    }
  }
}





/*Footer*/

footer{
  flex: 0 0 auto;
  padding-top: 40px;
  padding-bottom: 30px;
  .main_container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .social{
      display: flex;
      li{
        margin-right: 30px;
      }
    }
    span{
      font-weight: 400;
      font-size: 40px;
      line-height: 40px;
      text-transform: uppercase;
      color: $black_font;
    }
  }
}
