@import url("https://fonts.googleapis.com/css2?family=PT+Sans:wght@400;700&display=swap");
html {
  height: 100%; }

body {
  font-family: "PT Sans", sans-serif;
  display: flex;
  flex-direction: column;
  height: 100%; }

* {
  padding: 0;
  margin: 0;
  list-style: none;
  box-sizing: border-box;
  text-decoration: none; }

.main_container {
  margin: auto;
  max-width: 1280px;
  padding: 0 40px; }

section {
  flex: 1 0 auto; }

/*header*/
header {
  flex: 0 0 auto; }
  header nav {
    display: flex;
    justify-content: space-between; }
    header nav .nav_link {
      display: flex;
      margin-top: 19px;
      margin-bottom: 20px; }
      header nav .nav_link li {
        margin-right: 33px; }
        header nav .nav_link li:last-of-type {
          margin-right: 0; }
        header nav .nav_link li a {
          font-weight: 700;
          font-size: 20px;
          line-height: 26px;
          color: #000000; }
    header nav .nav_icon {
      display: flex; }
      header nav .nav_icon .search {
        margin-right: 21px;
        margin-top: 24px; }
        header nav .nav_icon .search a {
          display: inline-block; }
      header nav .nav_icon .heart {
        margin-right: 33px;
        margin-top: 24px; }
        header nav .nav_icon .heart a {
          display: inline-block; }
      header nav .nav_icon .btn {
        display: inline-block;
        margin-top: 14px;
        margin-bottom: 14px;
        padding: 9px 30px 10px;
        width: 100%;
        max-width: 160px;
        font-weight: 700;
        font-size: 16px;
        line-height: 21px;
        text-transform: uppercase;
        background-color: #756257;
        color: #FFFFFF;
        border-radius: 4px; }

/*section Main_banner*/
.main_banner {
  background-image: url("../images/background1.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  padding-top: 51px;
  padding-bottom: 82px; }
  .main_banner .main_container img {
    display: block;
    margin: auto; }

.sedona_town {
  padding-top: 63px;
  padding-bottom: 79px; }
  .sedona_town h1 {
    font-weight: 700;
    font-size: 30px;
    line-height: 36px;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 23px; }
  .sedona_town p {
    font-weight: 400;
    font-size: 22px;
    line-height: 26px;
    text-align: center; }

/*section Reasons*/
.reasons .main_container {
  display: flex;
  flex-wrap: wrap; }
  .reasons .main_container .card {
    padding: 98px 90px 77px;
    width: 400px;
    height: 384px;
    text-align: center; }
    .reasons .main_container .card h3 {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 25px; }
    .reasons .main_container .card span {
      display: inline-block;
      font-size: 18px;
      line-height: 21px;
      margin-bottom: 26px;
      color: #FFFFFF;
      font-weight: 400; }
    .reasons .main_container .card p {
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: #FFFFFF; }
  .reasons .main_container .town_bridge {
    background-color: #83B3D3; }
  .reasons .main_container .facilities {
    width: 400px;
    height: 384px;
    text-align: center; }
    .reasons .main_container .facilities img {
      display: inline-block;
      margin-bottom: 23px; }
    .reasons .main_container .facilities h4 {
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 20px; }
    .reasons .main_container .facilities p {
      font-weight: 400;
      font-size: 18px;
      line-height: 21px;
      color: #333333; }
  .reasons .main_container .housing {
    background-color: rgba(131, 179, 211, 0.12);
    padding: 89px 75px 79px; }
  .reasons .main_container .food {
    background-color: #FFFFFF;
    padding: 91px 75px 79px; }
  .reasons .main_container .souvenirs {
    background-color: rgba(131, 179, 211, 0.12);
    padding: 85px 75px 79px; }
  .reasons .main_container .square, .reasons .main_container .road, .reasons .main_container .tourists {
    padding: 98px 75px 77px; }
    .reasons .main_container .square h3, .reasons .main_container .square span, .reasons .main_container .square p, .reasons .main_container .road h3, .reasons .main_container .road span, .reasons .main_container .road p, .reasons .main_container .tourists h3, .reasons .main_container .tourists span, .reasons .main_container .tourists p {
      color: #000000; }
  .reasons .main_container .square, .reasons .main_container .tourists {
    background: rgba(131, 179, 211, 0.12); }
  .reasons .main_container .road {
    background: rgba(131, 179, 211, 0.2); }

.town_bridge_pic {
  height: 384px; }

#town {
  display: block;
  width: 100%; }

#bridge {
  display: block;
  width: 100%; }

/*section Hotel_search*/
.hotel_search {
  padding-top: 91px;
  padding-bottom: 91px; }
  .hotel_search .main_container {
    text-align: center; }
    .hotel_search .main_container h2 {
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 15px; }
    .hotel_search .main_container p {
      font-weight: 400;
      font-size: 22px;
      line-height: 26px;
      color: #333333;
      margin-bottom: 73px; }
    .hotel_search .main_container a {
      display: inline-block;
      max-width: 575px;
      width: 100%;
      padding-top: 13px;
      padding-bottom: 17px;
      background-color: #756257;
      color: #FFFFFF;
      font-weight: bold;
      font-size: 20px;
      line-height: 36px;
      text-align: center;
      text-transform: uppercase;
      border-radius: 10px; }

/*section Newsletter*/
.newsletter {
  background-image: url("../images/background2.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  padding-top: 94px;
  padding-bottom: 94px; }
  .newsletter .main_container {
    text-align: center; }
    .newsletter .main_container h2 {
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      text-transform: uppercase;
      color: #FFFFFF;
      margin-bottom: 15px; }
    .newsletter .main_container p {
      font-weight: 400;
      font-size: 22px;
      line-height: 26px;
      color: #FFFFFF;
      margin-bottom: 26px; }
  .newsletter form {
    display: flex;
    justify-content: center; }
    .newsletter form #email {
      width: 500px;
      padding: 15px 70px 15px 25px;
      font-size: 18px;
      line-height: 26px;
      text-align: left;
      opacity: 60%;
      border: none;
      background: #F2F2F2;
      border-radius: 10px 0 0 10px; }
    .newsletter form .btn {
      max-width: 200px;
      width: 100%;
      background-color: #83B3D3;
      color: #FFFFFF;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 26px;
      font-weight: 700;
      text-align: center;
      border: none;
      border-radius: 0 10px 10px 0;
      padding: 15px 30px;
      font-family: "PT Sans", sans-serif; }

/*section Hotels_Sedona*/
.hotels_sedona {
  background-image: url("../images/catalog-background.jpg");
  background-size: cover;
  background-position: center center;
  width: 100%;
  padding-top: 35px;
  padding-bottom: 83px; }
  .hotels_sedona h2 {
    font-weight: 700;
    font-size: 60px;
    line-height: 78px;
    color: #FFFFFF;
    margin-bottom: 5px; }

.breadcrumb .breadcrumb_item {
  display: inline-block; }
  .breadcrumb .breadcrumb_item .breadcrumb_link {
    font-weight: 400;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF; }
  .breadcrumb .breadcrumb_item .breadcrumb_link_home:before {
    content: url("../images/home_nav.svg"); }
  .breadcrumb .breadcrumb_item:first-of-type:after {
    content: url("../images/nav-link.svg");
    margin: 0 10px; }

.filter_form {
  display: flex;
  margin-top: 45px; }
  .filter_form h3 {
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    margin-bottom: 30px; }
  .filter_form .infrastructure {
    margin-right: 67px; }
  .filter_form .housing_filter {
    margin-right: 167px; }
  .filter_form .price {
    margin-right: 81px;
    flex-grow: 1; }
  .filter_form .infrastructure_check {
    margin-bottom: 13px; }
    .filter_form .infrastructure_check .infrastructure_label {
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
      color: #FFFFFF; }
      .filter_form .infrastructure_check .infrastructure_label .infrastructure_input {
        margin-right: 19px; }
  .filter_form .housing_radio {
    margin-bottom: 13px; }
    .filter_form .housing_radio .housing_label {
      font-weight: 400;
      font-size: 18px;
      line-height: 23px;
      color: #FFFFFF; }
      .filter_form .housing_radio .housing_label .housing_input {
        margin-right: 19px; }

.btn_price {
  padding-top: 60px; }
  .btn_price .btn_submit {
    background: #83B3D3;
    border-radius: 4px;
    display: inline-block;
    width: 100%;
    max-width: 160px;
    text-align: center;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 16px;
    line-height: 21px;
    text-transform: uppercase;
    padding: 13px 19px;
    box-sizing: border-box;
    border: none;
    font-family: "PT Sans", sans-serif; }
    .btn_price .btn_submit:hover {
      cursor: pointer; }
  .btn_price .btn_reset {
    margin-top: 20px;
    background: none;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
    border: none;
    box-sizing: border-box;
    padding: 0 19px;
    font-family: "PT Sans", sans-serif; }
    .btn_price .btn_reset:hover {
      cursor: pointer; }

.infrastructure_input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.infrastructure_text {
  display: inline-flex;
  align-items: center;
  position: relative; }

.infrastructure_text:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  margin-right: 19px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%; }
.infrastructure_text:after {
  content: url("../images/tick.svg");
  position: absolute;
  bottom: 1px;
  left: 5px;
  opacity: 0; }
.infrastructure_text:hover {
  cursor: pointer; }

.infrastructure_input:checked + .infrastructure_text:after {
  opacity: 1; }

.housing_input {
  position: absolute;
  z-index: -1;
  opacity: 0; }

.housing_text {
  display: inline-flex;
  align-items: center;
  position: relative; }

.housing_text:before {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 1px solid #FFFFFF;
  border-radius: 50%;
  margin-right: 19px;
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%; }
.housing_text:after {
  content: url("../images/radio.svg");
  position: absolute;
  bottom: 1px;
  left: 6px;
  opacity: 0; }
.housing_text:hover {
  cursor: pointer; }

.housing_input:checked + .housing_text:after {
  opacity: 1; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type=number] {
  -moz-appearance: textfield; }

.filter_price {
  display: flex;
  margin-bottom: 20px; }
  .filter_price .price_label {
    display: flex;
    justify-content: space-between;
    max-width: 143px;
    width: 100%;
    padding: 13px 17px 11px 19px;
    border: 2px solid #FFFFFF; }
    .filter_price .price_label span {
      color: #FFFFFF;
      opacity: 0.3; }
  .filter_price .label_min {
    border-radius: 4px 0 0 4px;
    border-right: none; }
  .filter_price .label_max {
    border-radius: 0 4px 4px 0; }
  .filter_price .price_input {
    background-color: transparent;
    border: none;
    color: #FFFFFF; }
    .filter_price .price_input:focus {
      outline: none; }
    .filter_price .price_input::placeholder {
      color: #FFFFFF; }

.filter_price_slider {
  max-width: 284px; }

.noUi-horizontal .noUi-handle-upper {
  right: 0; }

.noUi-target {
  background-color: #FFFFFF;
  border: none;
  box-shadow: none;
  height: 4px; }

.noUi-connect {
  background-color: #83B3D3; }

.noUi-horizontal .noUi-handle {
  height: 20px;
  width: 20px;
  box-shadow: none;
  border-radius: 5px;
  top: -8px; }

.noUi-handle:after {
  display: none; }
.noUi-handle:before {
  display: none; }

/*section Search_result*/
.search_result {
  padding-top: 44px;
  padding-bottom: 40px; }
  .search_result .main_container {
    display: flex;
    justify-content: space-between; }
    .search_result .main_container h3 {
      font-weight: 700;
      font-size: 30px;
      line-height: 39px;
      text-transform: uppercase;
      color: #000000; }

.sort {
  padding: 12px 100px 13px 19px; }

/*section Newsletter_hotels*/
.newsletter_hotels {
  padding-top: 89px;
  padding-bottom: 138px; }
  .newsletter_hotels .main_container {
    text-align: center; }
    .newsletter_hotels .main_container h2 {
      font-weight: 700;
      font-size: 30px;
      line-height: 36px;
      text-transform: uppercase;
      color: #000000;
      margin-bottom: 15px; }
    .newsletter_hotels .main_container p {
      font-weight: 400;
      font-size: 22px;
      line-height: 26px;
      color: #000000;
      margin-bottom: 26px; }
  .newsletter_hotels form {
    display: flex;
    justify-content: center; }
    .newsletter_hotels form #email_2 {
      width: 500px;
      padding: 15px 70px 15px 25px;
      font-size: 18px;
      line-height: 26px;
      text-align: left;
      opacity: 60%;
      border: none;
      background: #F2F2F2;
      border-radius: 10px 0 0 10px; }
    .newsletter_hotels form .btn {
      max-width: 200px;
      width: 100%;
      background-color: #83B3D3;
      color: #FFFFFF;
      text-transform: uppercase;
      font-size: 20px;
      line-height: 26px;
      font-weight: 700;
      text-align: center;
      border: none;
      border-radius: 0 10px 10px 0;
      padding: 15px 30px;
      font-family: "PT Sans", sans-serif; }
      .newsletter_hotels form .btn:hover {
        cursor: pointer; }

/*Footer*/
footer {
  flex: 0 0 auto;
  padding-top: 40px;
  padding-bottom: 30px; }
  footer .main_container {
    display: flex;
    justify-content: space-between;
    align-items: center; }
    footer .main_container .social {
      display: flex; }
      footer .main_container .social li {
        margin-right: 30px; }
    footer .main_container span {
      font-weight: 400;
      font-size: 40px;
      line-height: 40px;
      text-transform: uppercase;
      color: #000000; }

/*# sourceMappingURL=style.css.map */
